/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {    
    #main {
        height: 100vh;
        .boxWrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: auto;
            flex-wrap: wrap;
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {    
    #main {
        height: 100vh;
        .boxWrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: auto;
            flex-wrap: wrap;
        }
    }
}



