footer {
    //border: 2px solid red;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 15px;
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    span {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
    footer {
        p {
            font-size: 3.5vw;
        }
    }
}
