header {
    height: 275px;
    max-width: 100%;
    background: url('logogold.PNG') no-repeat center center;
    background-size: 100% 100%;
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    header {
        height: 20vh;
        background-size: 110% 100%;
    }
}


// Extra small devices (400px and down)
@media only screen and (max-width: 400px) {  
    header {
        height: 260px;
    }  
}

@media only screen and (width: 414px) and (device-height: 736px) {
    header {
        background-size: 100% 115%;        
    }
}


@media only screen and (min-width: 480px/*800px*/) {
    header {
        background-size: 100% 120%;
        height: 300px;

    }
}

@media only screen and (min-width: 768px) {
    header {
        height: 450px;
        background-size: 100% 110%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {  
    header {
        height: 230px !important;
        background-image: url('logofix7.png');
        background-size: contain !important;
        background-color: black;
    }  
}

