#successMessage {
    color: green;
    font-size: 3vh;
    border: 3px solid green;
    background-color: rgb(227, 248, 210);
    border-radius: 15px;
    width: auto;
    padding: 10px 15px 10px 10px;
    margin-bottom: 30px;
}